*{
    margin: 0;
    padding: 0;

    --blue: #273443;
    --red: #F64C4C;
    --orange: #F6A84C;
    --yellow: #FEC957;
    --yellow-tr: #fec95784;
    --brown: #4E2A07;
    --white: #FBFBFB;
}


/* ________________________________MULTIPLE USAGES__________________________________ */

.absolute{
    position: absolute;
}


/* _______________________________REGULAR____________________________ */

body{
    overflow: hidden;
    background-color: var(--yellow-tr);
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content{
    width: 16rem;
    height: 31rem;
    border-radius: 2rem;
    background-color: var(--white);
    border: 0.4rem solid var(--brown);
    position: absolute;
}

.semicircle, .circle{
    opacity: 0.2;
    z-index: -100;
}

.semicircle{
    top: -35rem;
    left: 0;
    width: 35rem;
}

.circle{
    bottom: -20rem;
    right: 0;
    width: 35rem;
}

.navbar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    background: rgb(255,186,122);
    background: linear-gradient(32deg, rgba(255,186,122,1) 20%, rgba(255,214,129,1) 55%, rgba(255,232,184,1) 100%);
    border-radius: 1.6rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    box-shadow: 0px -1px 5px 1px var(--brown);
    opacity: 0.8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar a img{
    margin-top: 3px;
    width: 2rem;
}