main {
    display: flex;
    justify-content: center;
}

h1{
    font-size: 1.3rem;
    margin-left: 1rem;
    margin-bottom: 0.3rem;
    margin-top: 0.2rem;
}

.noitems{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    margin-top: 1.5rem;
    margin-inline: 1rem;
    padding: 1rem;
}

.hidden{
    display: none !important;
}

.noitems h2{
    text-align: center;
    opacity: 0.4;
}

.product{
    margin: 0rem 0.5rem 0.5rem 0.5rem;
    width: 13rem;
}

.items{
    margin-top: 0.6rem;
}

.cur-shop, .cont-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-inline: 0.8rem;
    padding: 1rem;
}

.cur-shop-img{
    width: 4rem;
    margin-right: 1rem;
}

.cur-shop-p{
    width: 7rem;
    font-size: 1.3rem;
}

.cont-img, .arrow{
    width: 3rem;
}

.checkout{
    display: flex;
    margin-inline: 0.8rem;
    padding: 0.4rem 1rem;
    justify-content: space-between;
    align-items: center;
}

.ch-star{
    display: flex;
}

.paying{
    padding: 0.2rem 1.4rem;
    text-align: center;
    border: none;
    border-radius: 0.5rem;
}

.paying:hover{
    cursor: pointer;
}

.allstar{
    font-size: 1.3rem;
    font-weight: 600;
    margin-left: 0.2rem;
}

.sum{
    font-size: 1.3rem;
    font-weight: 600;
}

.product-img{
    margin-left: 2.2rem;
    margin-right: 1rem;
}

.name{
    margin-bottom: 0;
}

.scrollable{
    position: relative;
}