ul {
    list-style-type: none;
}

li a{
    display: inline-block;
    margin-top: 0.9rem;
    width: 14rem;
    height: 7rem;
    background-color: var(--creme);
    box-shadow: 0 0 5px 1px var(--blue-tr);
    border-radius: 1rem;
}

main {
    display: flex;
    justify-content: center;
}