ul {
    list-style-type: none;
}

li a{
    display: inline-block;
    margin-top: 0.9rem;
    width: 14rem;
    height: 7rem;
    background-color: var(--creme);
    box-shadow: 0 0 5px 1px var(--blue-tr);
    border-radius: 1rem;
    position: relative;
}

main {
    display: flex;
    justify-content: center;
}

h2{
    font-size: 1.3rem;
    z-index: 1;
    margin-top: 1rem;
    margin-left: 1rem;
}

.city-bg, .coffee-bg, .star-bg{
    position: absolute;
    opacity: 0.4;
    width: 8rem;
}

.city-bg { bottom:-0.4rem; left:5rem}
.coffee-bg { bottom:0; left:0}
.star-bg { bottom: 0.2rem; right: 1rem; width: 5rem;}