main{
    margin-inline: 0.6rem;
    margin-top: 1rem;
    padding-top: 0.2em;
    position: relative;
}

.head{
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.head img{
    width: 4rem;
    height: 4rem;
}

h1{
    font-size: 1.4rem;
    margin-left: 1rem;
    line-height: 1.4rem;
}

.product{
    /* margin-right: 1rem; */
    width: 13.5rem;
}

.head div p{
    margin-left: 1.1rem;
}