ul {
    list-style-type: none;
    display: inline-block;
}

li{
    margin-top: 0.9rem;
    background-color: var(--creme);
    box-shadow: 0 0 5px 1px var(--blue-tr);
    border-radius: 1rem;
    padding: 0.8rem;
}

main {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
    height: 24.5rem;
}

main::-webkit-scrollbar {
    width: 0px;
}
  
main::-webkit-scrollbar-thumb {
    background-color: transparent;
}

h2{
    font-size: 1.1rem;
}

.head{
    display: flex;
    justify-content: space-between;
}

.shop-profile{
    width: 3rem;
    height: 3rem;
    margin-right: 0.2rem;
}

.shop-a{
    display: flex;
    justify-content: space-between;
    background-color: var(--yellow);
    padding: 0.2rem;
    padding-left: 0.6rem;
    width: 9rem;
}

.arrow{
    width: 2.5rem;
    height: 2.5rem;
}

.pin-holder{
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 0.8rem;
}

.pin{
    width: 1rem;
    height: 1rem;
}

.video{
    margin-top: 0.4rem;
    height: 2rem;
    width: 13.5rem;
    height: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video img{
    opacity: 0.4;
}