@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;

    --blue: #273443;
    --red: #F64C4C;
    --orange: #F6A84C;
    --yellow: #FEC957;
    --yellow-tr: #fec95784;
    --brown: #4E2A07;
    --brown-tr: #4e2b0718;
    --brown-tr2: #4e2b075d;
    /* --creme: #FCF1DA; */
    --creme-s: #fffbf2;
    --creme: #fffbf2ba;
    --white: #FBFBFB;

    font-family: "Dosis", sans-serif;
    color: var(--brown);
}


/* ________________________________MULTIPLE USAGES__________________________________ */

.absolute{
    position: absolute;
}

.gradient{
    background: rgb(255,186,122);
    background: linear-gradient(32deg, rgba(255,186,122,1) 20%, rgba(255,214,129,1) 55%, rgba(255,232,184,1) 100%);
    box-shadow: 0 0 2px 1px var(--brown-tr2);
}

.gradient-tr{
    background: rgb(255,186,122);
    background: linear-gradient(32deg, rgba(255,186,122,0.2573821765034139) 20%, rgba(255,214,129,0.2993989832261029) 55%, rgba(255,232,184,0.31340458546699934) 100%);
    border: 2px solid var(--creme);
}
/* _______________________________REGULAR____________________________ */

body{
    overflow: hidden;
    background-color: var(--yellow-tr);
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content{
    width: 16rem;
    height: 31rem;
    border-radius: 2rem;
    background-color: var(--white);
    border: 0.4rem solid var(--brown);
    position: relative;
}

.semicircle, .circle{
    opacity: 0.2;
    z-index: -100;
}

.semicircle{
    top: -35rem;
    left: 0;
    width: 35rem;
}

.circle{
    bottom: -20rem;
    right: 0;
    width: 35rem;
}

.navbar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    border-radius: 1.6rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    opacity: 0.8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px -1px 5px 1px var(--brown);
}

.navbar a img{
    margin-top: 3px;
    width: 2rem;
}

header{
    height: 3rem;
    background-color: red;
    border-radius: 1.6rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0px 1px 5px 1px var(--brown);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header:hover{
    cursor: pointer;
}

.stars img{
    width: 1rem
}

.stars img:nth-child(1){ margin-left: 2rem; }
.stars img:nth-child(2){ margin-left: 2rem; }
.stars img:nth-child(3){ margin-left: -0.8rem; }
.stars img:nth-child(4){ margin-left: 2rem; }
.stars img:nth-child(5){ margin-left: -0.8rem; }
.stars img:nth-child(6){ margin-left: -0.8rem; }

.progress-bar{
    width: 11rem;
    height: 1rem;
    background-color: var(--white);
    border-radius: 1rem;
    border: 2px solid var(--blue);
    box-shadow: inset 0 0 1px 1px var(--brown-tr);
    position: relative;
}

.progress{
    position: absolute;
    top: -2px;
    left: -2px;
    height: 1rem;
    width: 20%;
    border-radius: 1rem;
    background-color: var(--yellow);
    border: 2px solid var(--blue);
}

.profile-pic{
    width: 2.5rem;
}

.reset{
    position: absolute;
    bottom: -2.5rem;
    left: 0;
    background-color: var(--creme);
    color: var(--blue);
    height: 2rem;
    width: 4rem;
    border-radius: 1rem;
    border: solid 2px var(--blue);
}

.reset:hover{
    cursor: pointer;
}

a{
    text-decoration: none;
}

a:active, a:visited, a{
    color: var(--blue);
}

.bg{
    border-radius: 0.5rem;
    box-shadow: 0 0 2px 1px var(--brown-tr);
    background-color: var(--creme);
}

.scrollable{
    overflow-x: hidden;
    overflow-y: auto;
    height: 24.5rem;
}

.scrollable::-webkit-scrollbar {
    width: 0px;
}
  
.scrollable::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.go-back{
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px var(--brown-tr);
}

.go-back img{
    transform: rotate(180deg);
    width: 2rem;
}

.inv{
    display: none;
}

.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 4rem;
    width: 12rem;
    padding: 0.5rem;
    font-weight: 600;
    opacity: 0.95;
    background-color: var(--creme-s);
    text-align: center;
    font-size: 1.4rem;
    z-index: 2;
}

.close{
    position: absolute;
    top: -0.3rem;
    right: -0.3rem;
    width: 1.3rem;
    padding: 0.2rem;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px var(--brown-tr);
    background-color: var(--creme-s);
}

/* .close:hover{
    cursor: pointer;
} */